*{
    margin: 0;
    padding: 0;
}



*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color:#fff;
  
  box-sizing: border-box;
  scroll-behavior: smooth;

}
