.pricing {
  &__def{
    grid-column: 1/-1;
   
  }
  &__info {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 3.5rem auto;
    grid-template-rows: auto;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    margin-left: 7rem;
    &-1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 1000px;
      background-color: rgba(165, 30, 20, 0.5);

      &-text {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
    &-2{
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 1000px;
      background-color: rgba(1, 87, 155, 0.5);

      &-text {
        grid-column: 2/3;
        grid-row: 2/3;
      }

    }
    &-3{
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: center;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 1000px;
      background-color: rgba(255, 214, 0, 0.5);

      &-text {
        grid-column: 2/3;
        grid-row: 3/4;
      }

    }
  }
  &__map {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;

    justify-self: center;
    text-align: center;
    margin-right: 4rem;
  }
  &__container {
    grid-column: 1/2;
    grid-row: 4/5;
    color: black;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 1fr 0.25fr;
    grid-template-rows: 0.25fr;
    justify-content: center;
    align-items: center;
  }
  &__header {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 4rem;
    margin-bottom: 7rem;

    &-text {
      font-size: 4rem;
      margin-top: 3rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
      text-align: center;
      width: 55%;
      margin: 0 auto;
      border-bottom: solid 2px $color-primary;
    }
  }
}
