.pricing {
  &__map {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    margin-top: 7rem;
    justify-self: center;
    text-align: center;

    & iframe{
        pointer-events: none;
    }
  }
  &__container {
    grid-column: 1/2;
    grid-row: 4/5;
    color: black;
    display: grid;
    grid-template-columns: 0.25fr .5fr .5fr 0.25fr;
    grid-template-rows: 0.25fr;
    justify-content: center;
    align-items: center;
  }
  &__header {
    grid-column: 2/4;
    grid-row: 1/2;

    &-text {
      font-size: 4rem;
      margin-top: 3rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
      text-align: center;
      width: 55%;
      margin: 0 auto;
      border-bottom: solid 2px $color-primary;
    }
  }
}
